{
    "SYMBOL": "BTCUSDT,ETHUSDT,SOLUSDT,XRPUSDT,SIRENUSDT,TAOUSDT,DOGEUSDT,HYPEUSDT,RIVERUSDT,NOMUSDT,ADAUSDT,STOUSDT,SUIUSDT,1000PEPEUSDT,BSBUSDT,XAUTUSDT,BCHUSDT,PLAYSOUTUSDT,FARTCOINUSDT,ENAUSDT,SENTUSDT,ONTUSDT,LINKUSDT,ZECUSDT,WLDUSDT,NEARUSDT,COREUSDT,DOTUSDT,PIPPINUSDT,KITEUSDT,TRXUSDT,GALAUSDT,ONDOUSDT,TRUMPUSDT,LTCUSDT,PRLUSDT,BEATUSDT,AAVEUSDT,BNBUSDT,BARDUSDT,AVAXUSDT,CRVUSDT,ARIAUSDT,ENJUSDT,WIFUSDT,BRUSDT,ARBUSDT,PTBUSDT,MONUSDT,VIRTUALUSDT,ANKRUSDT,APTUSDT,KATUSDT,XAUUSDT,CHZUSDT,OPUSDT,CUSDT,PAXGUSDT,CFGUSDT,4USDT,PUMPFUNUSDT,1000BONKUSDT,XMRUSDT,PENGUUSDT,HBARUSDT,XLMUSDT,UNIUSDT,LDOUSDT,KASUSDT,VANAUSDT,RENDERUSDT,NIGHTUSDT,SAHARAUSDT,MUSDT,IPUSDT,QUSDT,HANAUSDT,XPLUSDT,ASTERUSDT,TRIAUSDT,TONUSDT,AXSUSDT,FILUSDT,XAGUSDT,ATHUSDT,BTRUSDT,VVVUSDT,SHIB1000USDT,BIRBUSDT,SEIUSDT,LAUSDT,ICPUSDT,CYSUSDT,ARCUSDT,ZROUSDT,ZBTUSDT,LYNUSDT,SOPHUSDT,INITUSDT,STGUSDT",
    "INTERVAL": "15",
    "PROBABILITY_THRESHOLD": 0.65,
    "DARK_MODE": true,
    "BYBIT_API_KEY": "YOUR_BYBIT_API_KEY",
    "BYBIT_API_SECRET": "YOUR_BYBIT_API_SECRET"
}
