{
    "SYMBOL": "DOGEUSDT,BTCUSDT,ETHUSDT,SOLUSDT,BNBUSDT,XRPUSDT",
    "INTERVAL": "15",
    "PROBABILITY_THRESHOLD": 0.65,
    "DARK_MODE": true,
    "BYBIT_API_KEY": "YOUR_BYBIT_API_KEY",
    "BYBIT_API_SECRET": "YOUR_BYBIT_API_SECRET"
}
